:root{
--vino:#5F1B2D;
--dorado:#CD975D;
}

body{

margin:0;

font-family:'Segoe UI';

background:#F5F3F0;

padding:20px;

}

.container{

max-width:1400px;
margin:auto;

}

.card{

background:white;

padding:25px;

border-radius:18px;

box-shadow:
0 10px 30px rgba(0,0,0,.12);

}

.header{

text-align:center;

margin-bottom:25px;

}

.logo-ieped{

max-width:250px;

}

.header h2{

color:var(--vino);

}

.subtitulo{

color:var(--dorado);

}

.filtros{

display:grid;

grid-template-columns:
1fr
1fr
1fr
200px;

gap:10px;

margin-bottom:20px;

}

input,
button{

padding:12px;

border-radius:10px;

border:1px solid #DDD;

}

button{

background:var(--vino);

color:white;

border:none;

cursor:pointer;

}

.tabla-container{

overflow:auto;

}

table{

width:100%;

border-collapse:collapse;

}

th{

background:var(--vino);

color:white;

padding:12px;

}

td{

padding:10px;

border-bottom:
1px solid #EEE;

}
